body{
	display:flex;
	flex-direction:column;
	align-items:stretch;
	background-image:url(bg.jpeg);
	background-size:cover;
	background-attachment:fixed;
	font-family:Trebuchet MS, Tahoma, sans-serif;
	font-size:22px;
	line-height:3.5vh;
	color:#fff;
	width:50%;
	margin:0;
	padding:2vh 25%;
}
nav{
	display:flex;
	justify-content:space-around;
	position:sticky;
	top:2.5%;
	z-index:1;
}
nav, section{
	background:rgba(0,0,0,0.75);
	border-style:solid;
	border-width:5px;
	border-radius:50px;
}
a{
	padding:1vh 0;
	text-align:center;
	text-decoration:none;
	transition: color 0.3s;
}
a:hover{
	color:#fff;
}
a, h2{
	color:#ffd704;
}
main{
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	padding:20vh 0;
	height:50vh;
}
img{
	width:25%;
}
aside{
	display:flex;
	flex-direction:column;
	align-items:flex-start;
	font-size:1.7vw;
}
figure{
	width:0;
	height:12vh;
	margin:0 50%;
	border-style:solid;
	border-width:3px;
}
#about{
	border-width:0;
	padding-top:6px;
}
section{
	padding:3vh 5%;
}
h1{
	color:#ffd700;
	margin-bottom:-0.5vh;
}
h2{
	text-align:center;
}
p, li{
	margin-bottom:2vh;
}
article{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
}
div{
	width:46%;
	margin:2vh 2%;
}
.close{
	position:fixed;
}
p img{
	width:auto;
	height:5vh;
	vertical-align:middle;
	margin-right:1vw;
}
strong{
	text-decoration:underline;
}
@media screen and (max-width: 800px) {
	body{
		width:100%;
		padding:0;
		font-size:28px;
	}
	main{
		flex-direction:column;
	}
	img{
		width:40%;
	}
	aside{
		align-items:center;
	}
	nav, a, aside{
		font-size:4.7vw;
	}
	h1{
		text-align:center;
	}
	div{
		width:90%;
		margin:2vh 5%;
	}
}